body {
    font-family: Arial, sans-serif;
    line-height: 1.0;
    margin: 0;
    padding: 0;
    background-color: #d5d5d5;
    color: #333;
}
.container {
    max-width: 600px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  line-height: 1.6;
  font-size: 45px;

}
h2 {
  line-height: 1.4;
  font-size: 35px;

}
h3 {
  line-height: 1.2;
  font-size: 25px;

}
p {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
}
.center {
  text-align: center;
}
.quiz {
  margin: 20px 60px;

}
header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 1.5em;
  font-weight: bold;
}
nav {
  display: flex;
  gap: 15px;
}
nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: inherit;
}
nav a:hover {
  background-color: #555;
  border-radius: 5px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  position: relative;
}

nav ul li {
  position: relative;
}

nav ul li a {
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

nav ul li:hover > a {
  background-color: #333;
}

.submenu {
  display: none;
  position: absolute;
  color: inherit;
  top: 100%;
  left: 0;
  background-color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 1000;
}

.submenu li {
  margin: 0;
}

.submenu li a {
  padding: 10px 15px;
  white-space: nowrap;
}

nav ul li:hover .submenu {
  display: block;
}

.features {
  display: flex;
  justify-content: space-around; /* Horizontal zentrieren */
  align-items: center; /* Vertikal zentrieren */
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  height: 100vh; /* Beispielhöhe: gesamte Ansichtshöhe */
}

.feature-item {
  width: 30%;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.feature-item img {
  max-width: 100%;
  border-radius: 8px;
}

.feature-item h3 {
  margin: 10px 0;
  font-size: 1.5em;
  color: #333;
}

.feature-item p {
  color: #666;
  font-size: 0.9em;
  line-height: 1.4;
}

.features a {
  color: #764a4a;
}