* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Drei Spalten */
    gap: 20px;
    max-width: 1200px;
    margin: 20px;
}

.gallery-item {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.gallery-item img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.gallery-item p {
    color: #333;
    font-size: 1em;
}

/* Für kleinere Bildschirme */
@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr); /* Zwei Spalten */
    }
}

@media (max-width: 480px) {
    .gallery {
        grid-template-columns: 1fr; /* Eine Spalte */
    }
}


.vita {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}